---
interface Props {
  index: string;
  name: string;
  active: boolean;
  state: string;
  border: string;
  background: string;
}

const { index, name, active, state, border, background } = Astro.props;
---

<button
  data-state={state}
  class={`uppercase text-white flex items-center gap-[18px] self-stretch text-[11px] font-bold leading-[25px] tracking-[1.929px] py-2 px-5 border ${border} ${background} ${active ? `${border} ${background}` : 'bg-transparent  border-white border-opacity-20'}`}
  ><span class='opacity-50'>{index}</span>{name}</button
>
