---
import Button from './Button.astro';

interface Props {
  border: string;
  background: string;
}

const { border, background } = Astro.props;
---

<div class='hidden md:flex md:pt-8 flex-col gap-4 md:items-start md:flex-1' id='ButtonsContainer'>
  <Button
    name='overview'
    index='01'
    state='Overview'
    active
    border={border}
    background={background}
  />
  <Button
    name='internal structure'
    index='02'
    state='Structure'
    active={false}
    border={border}
    background={background}
  />
  <Button
    name='surface geology'
    index='03'
    state='Surface'
    active={false}
    border={border}
    background={background}
  />
</div>
