---
import Button from './Button.astro';

interface Props {
  border: string;
  background: string;
}

const { border, background } = Astro.props;
---

<div
  id='ButtonsContainer'
  class='hidden flex-col gap-4 md:flex md:flex-1 md:items-start md:pt-8 2xl:flex-none 2xl:self-stretch 2xl:pt-0'
>
  <Button
    name='overview'
    index='01'
    state='Overview'
    active={true}
    border={border}
    background={background}
  />
  <Button
    name='internal structure'
    index='02'
    state='Structure'
    active={false}
    border={border}
    background={background}
  />
  <Button
    name='surface geology'
    index='03'
    state='Surface'
    active={false}
    border={border}
    background={background}
  />
</div>
