---
import data from '../utils/data.json';
import ButtonsContainer from './ButtonsContainer.astro';
import Information from './Information.astro';
import Data from './Data.astro';
import Visuals from './Visuals.astro';
import LinksContainer from './LinksContainer.astro';

const planet = data.find((planet) => planet.name === 'Earth')!;
---

<main class='flex flex-col self-stretch items-center'>
  <LinksContainer />
  <Visuals images={planet.images} name={planet.name} />
  <div>
    <Information
      name={planet.name}
      overview={planet.overview}
      structure={planet.structure}
      surface={planet.geology}
    />
    <ButtonsContainer />
  </div>
  <Data
    rotationTime={planet.rotation}
    revolutionTime={planet.revolution}
    radius={planet.radius}
    averageTemp={planet.temperature}
  />
</main>

<script>
  const LinksContainer = document.getElementById('LinksContainer')!;
  const ButtonsContainer = document.getElementById('ButtonsContainer')!;

  function changeState(newState: string) {
    console.log('changeState', newState);
    LinksContainer.setAttribute('data-state', newState);
    ButtonsContainer.setAttribute('data-state', newState);

    document
      .querySelectorAll('[data-name=Overview], [data-name=Surface], [data-name=Structure]')
      .forEach((section) => {
        section.classList.remove('flex');
        section.classList.add('hidden');
      });

    const activeVisual = document.querySelectorAll(`[data-name=${newState}]`)[0];
    if (activeVisual) {
      activeVisual.classList.add('flex');
      activeVisual.classList.remove('hidden');
    }

    const activeDesription = document.querySelectorAll(`[data-name=${newState}]`)[1];
    if (activeDesription) {
      activeDesription.classList.add('inline');
      activeDesription.classList.remove('hidden');
    }

    const activeResource = document.querySelectorAll(`[data-name=${newState}]`)[2];
    if (activeResource) {
      activeResource.classList.add('flex');
      activeResource.classList.remove('hidden');
    }

    const links = LinksContainer.querySelectorAll('button');
    const buttons = ButtonsContainer.querySelectorAll('button');

    links.forEach((link) => {
      if (link.dataset.state === LinksContainer.dataset.state) {
        link.classList.remove('opacity-50', 'border-transparent');
        link.classList.add('border-light-blue', 'opacity-100');
      } else {
        link.classList.add('opacity-50', 'border-transparent');
        link.classList.remove('border-light-blue', 'opacity-100');
      }
    });

    buttons.forEach((button) => {
      if (button.dataset.state === ButtonsContainer.dataset.state) {
        button.classList.remove('bg-transparent', 'border-white', 'border-opacity-20');
        button.classList.add('bg-light-blue', 'border-light-blue');
      } else {
        button.classList.add('bg-transparent', 'border-white', 'border-opacity-20');
        button.classList.remove('bg-light-blue', 'border-light-blue');
      }
    });
  }

  document.addEventListener('DOMContentLoaded', () => {
    const links = LinksContainer.querySelectorAll('button');
    const buttons = ButtonsContainer.querySelectorAll('button');

    links.forEach((link) => {
      link.addEventListener('click', () => {
        changeState(link.dataset.state!);
      });
    });

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        changeState(button.dataset.state!);
      });
    });
  });
</script>
