---
import data from '../utils/data.json';
import ButtonsContainer from './ButtonsContainer.astro';
import Information from './Information.astro';
import Highlights from './Highlights.astro';
import Visuals from './Visuals.astro';
import LinksContainer from './LinksContainer.astro';
import Menu from './Menu.astro';

const { name } = Astro.params;

const planet = data.find((planet) => planet.name === name)!;
---

<main class='relative flex flex-col items-center self-stretch'>
  <Menu />
  <LinksContainer border={planet.colors.border} />
  <div class='content 2xl:grid 2xl:grid-cols-[2.5fr_1fr] 2xl:px-41 2xl:pb-22 2xl:pt-32'>
    <Visuals images={planet.images} name={planet.name} />
    <div
      class='contents gap-10 self-stretch px-10 md:grid md:grid-cols-2 2xl:flex 2xl:flex-col 2xl:items-start 2xl:justify-between 2xl:gap-0 2xl:px-0'
    >
      <Information
        name={planet.name}
        overview={planet.overview}
        structure={planet.structure}
        surface={planet.geology}
      />
      <ButtonsContainer border={planet.colors.border} background={planet.colors.background} />
    </div>
  </div>
  <Highlights
    rotationTime={planet.rotation}
    revolutionTime={planet.revolution}
    radius={planet.radius}
    averageTemp={planet.temperature}
  />
</main>

<script define:vars={{ planet }} is:inline>
  const LinksContainer = document.getElementById('LinksContainer');
  const ButtonsContainer = document.getElementById('ButtonsContainer');

  function changeState(newState) {
    LinksContainer.setAttribute('data-state', newState);
    ButtonsContainer.setAttribute('data-state', newState);

    document
      .querySelectorAll('[data-name=Overview], [data-name=Surface], [data-name=Structure]')
      .forEach((section) => {
        section.classList.remove('flex');
        section.classList.add('hidden');
      });

    const activeVisual = document.querySelectorAll(`[data-name=${newState}]`)[0];
    if (activeVisual) {
      activeVisual.classList.add('flex');
      activeVisual.classList.remove('hidden');
    }

    const activeDesription = document.querySelectorAll(`[data-name=${newState}]`)[1];
    if (activeDesription) {
      activeDesription.classList.add('inline');
      activeDesription.classList.remove('hidden');
    }

    const activeResource = document.querySelectorAll(`[data-name=${newState}]`)[2];
    if (activeResource) {
      activeResource.classList.add('flex');
      activeResource.classList.remove('hidden');
    }

    const links = LinksContainer.querySelectorAll('button');
    const buttons = ButtonsContainer.querySelectorAll('button');

    links.forEach((link) => {
      if (link.dataset.state === LinksContainer.dataset.state) {
        link.classList.remove('opacity-50', 'border-transparent');
        link.classList.add(planet.colors.border, 'opacity-100');
      } else {
        link.classList.add('opacity-50', 'border-transparent');
        link.classList.remove(planet.colors.border, 'opacity-100');
      }
    });

    buttons.forEach((button) => {
      if (button.dataset.state === ButtonsContainer.dataset.state) {
        button.classList.remove('bg-transparent', 'border-white', 'border-opacity-20');
        button.classList.add(planet.colors.background, planet.colors.border);
        button.dataset.active = 'true';
      } else {
        button.classList.add('bg-transparent', 'border-white', 'border-opacity-20');
        button.classList.remove(planet.colors.background, planet.colors.border);
        button.dataset.active = 'false';
      }
    });
  }

  document.addEventListener('astro:page-load', () => {
    const links = LinksContainer.querySelectorAll('button');
    const buttons = ButtonsContainer.querySelectorAll('button');

    links.forEach((link) => {
      link.addEventListener('click', () => {
        changeState(link.dataset.state);
      });
    });

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        changeState(button.dataset.state);
      });
    });
  });
</script>
